<div class="mb-10 rounded-sm border border-stroke bg-white shadow-default ">
    <div class="p-4 sm:p-6 xl:p-9">

        <div class="flex flex-wrap justify-between gap-5">
            <div>
                <p class="mb-1.5 font-medium text-black ">
                    Titular del Prestamo:
                </p>
                <h4 class="mb-3 text-xl font-bold text-black  ">
                    {{usuario.nombres}} {{usuario.apellidos}}
                </h4>
                <span class="block"><span class="font-medium text-black   ">Correo Electrónico:</span>
                    {{usuario.correo}}</span>
                <span class="mt-1.5 block"><span class="font-medium text-black   ">Dirección:</span>{{usuario.direccion}}</span>
            </div>

            <div class="space-y-2">
                <span class="block"><span class="font-medium text-black   ">DNI:</span> {{usuario.dni}}</span>
                <span class="block"><span class="font-medium text-black   ">Celular:</span>
                      {{usuario.celular}}</span>
                <span class="block"><span class="font-medium text-black   ">Situación Laboral:</span>
                    Trabajor {{solicitud.estadoLaboral}}</span>
                <span class="block"><span class="font-medium text-black   ">Empresa:</span>
                      {{solicitud.nombreEmpresa}}</span>
                <span class="block"><span class="font-medium text-black   ">Cargo:</span>
                      {{solicitud.cargo}}</span>
            </div>
        </div>

        <div class="my-7.5 grid grid-cols-1 border border-stroke   xsm:grid-cols-2 sm:grid-cols-3">
            <div class="border-b border-r border-stroke px-5 py-4 last:border-r-0   sm:border-b-0">
                <h5 class="mb-1.5 font-bold text-black   ">
                     Ingreso Mesual:
                </h5>
                <span class="text-sm font-medium"> {{solicitud.inMensual}}</span>
            </div>

            <div class="border-b border-r border-stroke px-5 py-4 last:border-r-0   xsm:border-b-0">
                <h5 class="mb-1.5 font-bold text-black   ">
                    Cuotas :
                </h5>
                <span class="text-sm font-medium"> {{solicitud.cuota}} </span>
            </div>

            <div class="border-r border-stroke px-5 py-4 last:border-r-0  ">
                <h5 class="mb-1.5 font-bold text-black   ">
                    Solicitud de Prestamo:
                </h5>
                <span class="text-sm font-medium"> {{solicitud.estadoFinal}} </span>
            </div>
        </div>

        @if (reportePrestamo) {
            <div class="border border-stroke  ">
                <div class="max-w-full overflow-x-auto">
                    <div class="min-w-[670px]">
                        <div class="grid grid-cols-12 border-b border-stroke py-3.5 pl-5 pr-6  ">
                            <div class="col-span-3">
                                <h5 class="font-medium text-black   ">
                                    Nro Cuota
                                </h5>
                            </div>

                            <div class="col-span-5">
                                <h5 class="font-medium text-black   ">
                                    Nro Boleta
                                </h5>
                            </div>

                            <div class="col-span-2">
                                <h5 class="font-medium text-black   ">
                                    Monto Ingresado
                                </h5>
                            </div>

                            <div class="col-span-2">
                                <h5 class="font-medium text-black   ">
                                    Fecha de Pago
                                </h5>
                            </div>
                        </div>

                        @for (p of pagos; track p.pagoId) {
                            <div class="grid grid-cols-12 border-b border-stroke py-3.5 pl-5 pr-6  ">
                                <div class="col-span-3">
                                    <p class="font-medium">{{p.cuota}}</p>
                                </div>

                                <div class="col-span-5">
                                    <p class="font-medium">{{p.nroBoleta}}</p>
                                </div>

                                <div class="col-span-2">
                                    <p class="font-medium"> S/ {{p.monto}}</p>
                                </div>

                                <div class="col-span-2">
                                    <p class="font-medium">{{p.fechaPago}}</p>
                                </div>

                            </div>
                        }

                    </div>
                </div>

                <div class="flex justify-end p-6">
                    <div class="w-full max-w-65">

                        <p class="flex justify-between pt-5">
                        <span class="font-medium text-black">
                          Mora Aplicada:
                        </span>
                            <span class="font-bold text-red-500 text-xl"> S/ {{moraApicada}} </span>
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


