<header class="sticky top-0 z-999 flex w-full bg-white drop-shadow-1">
  <div
    class="flex flex-grow items-center justify-between px-4 py-4 shadow-2 md:px-6 2xl:px-11"
  >
    <div class="hidden sm:block"></div>
    <div class="flex items-center gap-3 2xsm:gap-7">
      <!-- User Area -->
      <div class="relative">
        <a class="flex items-center gap-4" href="#">
          <span class="hidden text-right lg:block">
            <span class="block text-sm font-medium text-black">{{usuario.nombre}}</span>
            <span class="block text-xs font-medium text-gray-500">{{usuario.rol}}</span>
          </span>

          <span>
            <img
              src="user.jpg"
              alt="User"
              class="h-12 w-12 rounded-full object-cover"
            />
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
