<main class="bg-gray-50 h-screen flex justify-center items-center">
  <div class="w-[1250px] p-4 md:p-6 2xl:p-10">
    <div class="rounded-sm border border-stroke bg-white shadow-default">
      <div class="flex flex-wrap items-center">
        <div class="hidden w-full xl:block xl:w-1/2">
          <div class="px-18 py-17.5 text-center">
            <p class="font-semibold 2xl:px-20 text-3xl">
              Real Presta<span class="text-emerald-600 italic">Cash</span>
            </p>
            <p class="mt-2">Estas por entrar a nuestra plataforma</p>
            <span class="mt-15 inline-block">
              <img src="auth.png" alt="illustration" />
            </span>
          </div>
        </div>
        <div class="w-full border-stroke xl:w-1/2 xl:border-l-2">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</main>
