<cpt-titlebar [title]="'Resumen de la solicitud'"/>
<cpt-summary/>


<h2 class="text-title-md2 font-bold text-black  ">
    Acciones
</h2>
<div class="mt-5 rounded-sm border border-stroke bg-white shadow-default ">
    <div class="p-4 sm:p-6 xl:p-9 text-end flex justify-between">
        <div class="flex justify-center items-center gap-2">
            <button
                    (click)="generarContrato()"
                    [disabled]="solitudEstado"
                    class="inline-flex items-center gap-2.5 rounded bg-emerald-600 px-5 py-2.5 font-medium text-white hover:bg-opacity-90 disabled:opacity-50">
                Generar Contrato
            </button>

            @if(contratoEstado) {
                <div class="px-4">
                    Se verifico Se genero el contrato correactamente ✅. A la espera de la respueta del cliente
                </div>
            }
        </div>
        <div class="space-x-4">
            <button
                    (click)="finalizarSolicitud()"
                    [disabled]="solitudEstado"
                    class="inline-flex items-center gap-2.5 rounded bg-primary px-7.5 py-2.5 font-medium text-white hover:bg-opacity-90 disabled:opacity-50">
                Depositar
            </button>
        </div>
    </div>
</div>

