<cpt-titlebar [title]="'Resumen de la solicitud'"/>
<cpt-summary/>


<h2 class="text-title-md2 font-bold text-black  ">
    Acciones
</h2>
<div class="mt-5 rounded-sm border border-stroke bg-white shadow-default ">
    <div class="p-4 sm:p-6 xl:p-9 text-end flex justify-between">
        <div class="flex justify-center items-center gap-2">
            <button
                    class="inline-flex items-center gap-2.5 rounded bg-emerald-600 px-5 py-2.5 font-medium text-white hover:bg-opacity-90"
                    (click)="verificarDocumentaion()">
                Verificar Documentacion
            </button>
            @if(documentacion) {
                <div class="px-4">
                    Se verifico la documentacion correactamente ✅
                </div>
            }
        </div>


        <div class="space-x-4">
            <button
                    (click)="actualizarEstado(2)"
                    class="inline-flex items-center gap-2.5 rounded bg-red-600 px-7.5 py-2.5 font-medium text-white hover:bg-opacity-90">
                Desaprobar
            </button>
            <button
                    (click)="actualizarEstado(1)"
                    class="inline-flex items-center gap-2.5 rounded bg-primary px-7.5 py-2.5 font-medium text-white hover:bg-opacity-90">
                Aprobar
            </button>
        </div>
    </div>
</div>


